* {
     margin: 0;
     padding:0;
     box-sizing: border-box;
}
html,
body {
     height:100%;
     width:100%;
}

#parent{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: minmax(300px, 3fr) 1fr 1fr 1fr;
    grid-template-rows: 30% 70%;
    gap: 10px 5px;
    padding: 15px;
}

.child{
    background-color: #077b7b;
    border: 2px solid white;
}

#child1{
    background-color: crimson;
    grid-column-start: 1;
    grid-column-end: 5;
}